h1{text-align: center; font-family: Arial;}
body{
    background-color: rgb(112, 141, 196);
}
*{
    font-family: Arial;
}
#upper{display: flex; border-radius: 5px;
    justify-content: flex-start;
    border: 2px rgb(252, 248, 248) solid;
    background-color: rgb(193, 189, 219);
    text-align: center;
}
select{
    font-size: large; 
}
th{border: 2px solid rgb(251, 247, 247);font-size: large;  
    margin: 25px;padding: 15px; margin: 20px; width: 200px;
    background-color: coral;

}
td{width: 200px; font-size: large; text-align: center; font-weight: bold;
    border: 2px rgb(248, 245, 245) solid;
}
#container{border: 2px black solid;
    box-shadow: 4px 4px 30px;
    margin-top: 20px;
    
}
.table{background-color: rgba(83, 114, 242, 0.013);
    padding-left: 40px;
}
button{background-color: black; color: white;
    border:2px white solid;
    margin-left: 600px;
    height: 30px;width: 90px;
}
button:hover{
    background-color: chartreuse; color: black; font-weight: bold;
    font-size: large;
}